{% extends 'My_Lovely_Learning_templates/base.html' %}
{% load static %}
{% block main_content %}

<section class="profile-container container">
  <div class="profile-zone">
    <div class="user">
        <img class="profile-avatar" src="{% static 'My_Lovely_Learning_static/img/defaultUserAvatar.png' %}" alt="user-avatar">
        <h1 class="usernickname">{{user.username}}</h1>
    </div>
    <div class="profile-main-interactiv">
      <div class="row">
        <div class="col-4">
          <div id="profile" class="d-flex flex-column gap-2 profile-scrollspy text-center">
            <a class="p-1 rounded scroll-link-button" href="#activity-course">Профиль</a>
            <a class="p-1 rounded scroll-link-button" href="#true-certificate">Серитификаты</a>
            <a class="p-1 rounded scroll-link-button" href="{% url 'settings' %}">Настройки</a>
            <span class="profile-line"></span>
            <h1 class="profile-date-join">Присоединился к проекту {{user.date_joined|date}}</h1>
            <h1 class="profile-id">User №{{user.id}}</h1>
          </div>
        </div>
        <div class="col-8">
          <div data-bs-spy="scroll" data-bs-target="#profile" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example list-scrollspy" tabindex="0">
            <h4 id="activity-course" class="activity-cource-title">Активность за год</h4>
            <div class="profile-information">
                <div class="activity-cource">
                    <!-- ... -->
                </div>
            </div>
            <h4 id="true-certificate" class="true-certificate-title">Серитификаты</h4>
            <div class="profile-information">
                <div class="true-certificate">
                    <!-- ... -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}