{% extends 'My_Lovely_Learning_templates/base.html' %}
{% load static %}
{% block main_content %}

<section class="reg_container">
    <div class="container">
        <div class="reg-main">
            <h1 class="title-reg">
                Регистрация
            </h1>
            <form method="post" class="reg-form">
                {% csrf_token %}
                <div class="reg-up">
                    <div class="left-reg-zone">
                        {% for f in form %}
                            <label class="reg-label" for="{{ f.id_for_label }}">{{f.label}}</label>
                        {% endfor %}
                    </div>
                    <div class="right-reg-zone">
                        {% for f in form %}
                        {{f}}
                        <div class="reg-error">{{f.errors}}</div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="reg-submit">Войти</button>
            </form>    
        </div>
    </div>
</section>

{% endblock %}