{% extends 'My_Lovely_Learning_templates/settings_templates.html' %}
{% load static %}

{% block settings-menu %}

<div class="settings-button"><h1 class="settings-link settings-active">Редактировать профиль</h1></div>
<div class="settings-button"><a href="#" class="settings-link">Изменить почту</a></div>
<div class="settings-button"><a href="#" class="settings-link">Установить пароль</a></div>

{% endblock %}

{% block settings-section %}

<h1 class="title-settings">Редактирование профиля</h1>


{% endblock %}