{% extends 'My_Lovely_Learning_templates/base.html' %}
{% load static %}
{% block main_content %}

<section class="settings-container">
    <div class="container">
        <div class="main-container settings-zone">
            <div class="settings-section">
                <div class="settings-menu">
                    {% block settings-menu  %}
                    {% endblock %}
        
                </div>
                <div class="settings-forms">
                    {% block settings-section %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}