 {% extends 'My_Lovely_Learning_templates/settings_templates.html' %}
{% load static %}

{% block settings-menu %}

<div class="settings-button"><a href="{% url 'settings' %}" class="settings-link">Редактировать профиль</a></div>
<div class="settings-button"><a href="{% url 'set_email' %}" class="settings-link">Изменить почту</a></div>
<div class="settings-button"><h1 class="settings-link settings-active">Установить пароль</h1></div>

{% endblock %}

{% block settings-section %}

<h1 class="title-settings">Установить пароль</h1>
<form class="settings-form">
    <ul class="settings-list">
        <li class="settings-form-item">
            <label for="" class="form-settings-label">Новый пароль</label>
            <input type="password" name="" id="" class="form-input height-40">
        </li>
        <li class="settings-form-item">
            <label for="" class="form-settings-label">Подтверждение пароля</label>
            <input type="password" name="" id="" class="form-input height-40">
        </li>
    </ul>
    <button type="submit" class="submit-settings-btm">Сохранить изменения</button>
</form>


{% endblock %}