{% extends 'My_Lovely_Learning_templates/user_learn_template.html' %}
{% load static %}

{% block learn-menu %}

<div class="learn-button-menu"><a href="#" class="learn-link learn-active">Мое обучение</a></div>
<div class="learn-button-menu">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Курсы
        </button>
        <ul class="dropdown-menu learn-dropdown">
          <li><button class="dropdown-item" type="button">Action</button></li>
          <li><button class="dropdown-item" type="button">Another action</button></li>
          <li><button class="dropdown-item" type="button">Something else here</button></li>
        </ul>
      </div>

</div>
<div class="learn-button-menu"><a href="#" class="learn-link">Классы</a></div>

{% endblock %}

{% block learn-section %}

{% endblock %}