{% extends 'teaching/teachers_template.html' %}
{% load static %}


{% block teachers-menu %}
    <div class="teachers-button"><h1 class="teachers-link teachers-active">Курсы</h1></div>
    {% if request.user.is_superuser %}
        {% csrf_token %}
        <a class="teachers-btm" href="{% url 'courses:create' %}">Добавить курс</a>
    {% else %}
        <h5>Получите права</h5>
    {% endif %}
    
{% endblock %}

{% block teachers-output %}

<h1 class="teachers-title">Мои Курсы</h1>
<form class="form-teachers-search" role="search">
    <img src="{% static 'Main_static/svg/header_svg/search_logo.svg' %}" alt="search" class="search-logo">
    <input class="input-teachers-search" type="search" placeholder="Поиск..." aria-label="Search">
    <button type="submit" class="teachers-button-search">Искать</button>
</form>
<section class="teachers-cource-output">
    {% for course in my_courses %}
    <a class="teachers-cource" href={{ course.get_edit_url }}>
        <!-- добавить иконку -->
        <img class="icon-course" src="{{ course.header_photo.url }}" alt="icon">
        <h1 class="teachers-text">{{ course.title }}</h1>
    </a>
    {% empty %}
    <h5>У вас ещё нет созданных курсов.</h5>
    {% endfor %}
</section>

{% endblock %}

{% block script %}
<script>
    let url = "{% url 'courses:create' %}"

    let csrftoken = document.querySelector("input[name=csrfmiddlewaretoken]").value
    let options = {
        method: "POST",
        headers: {"X-CSRFToken": csrftoken},
        mode: "same-origin"
    }

    document.querySelector("button.add-course").addEventListener("click", function(e) {
        e.preventDefault();
        fetch(url, options)
    })
</script>

{% endblock script %}