{% extends 'main/base.html' %}
{% load static %}
{% block main_content %}

<section class="teachers-container container">
    <div class="teachers-zone">
        <div class="teachers-section">
            <div class="teachers-menu">
                {% block teachers-menu  %}
                {% endblock %}
    
            </div>
            <div class="teachers-output">
                {% block teachers-output %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>

{% endblock %}