{% extends 'Main_templates/settings_templates.html' %}
{% load static %}

{% block settings-menu %}

<div class="settings-button"><a href="{% url 'settings' %}" class="settings-link">Редактировать профиль</a></div>
<div class="settings-button"><h1 class="settings-link settings-active">Изменить почту</h1></div>
<div class="settings-button"><a href="{% url 'set_pass' %}" class="settings-link">Установить пароль</a></div>

{% endblock %}

{% block settings-section %}

<h1 class="title-settings">Изменение почты</h1>
<h2 class="label-email">Ваши почтовые адреса:</h2>
<form class="view-all-email">
    <label for="" class="email-view">{{user.email}}</label>
    <h1 class="email-status">Основной</h1>
</form>
<form class="settings-form">
    <input type="email" name="" id="" placeholder="Новый адрес" class="form-input height-40 form-email-input">
    <button type="submit" class="submit-settings-btm">Добавить почту</button>
</form>


{% endblock %}