 {% extends 'Main_templates/settings_templates.html' %}
{% load static %}

{% block settings-menu %}

<div class="settings-button"><a href="{% url 'settings' %}" class="settings-link">Редактировать профиль</a></div>
<div class="settings-button"><a href="{% url 'set_email' %}" class="settings-link">Изменить почту</a></div>
<div class="settings-button"><h1 class="settings-link settings-active">Установить пароль</h1></div>

{% endblock %}

{% block settings-section %}

<h1 class="title-settings">Установить пароль</h1>
<form class="settings-form" method="POST">
    {% csrf_token %}
    <ul class="settings-list">
        {% for f in form %}
        <li class="settings-form-item">
            <label class="form-settings-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
        </li>
        {% endfor %}
        <div class="form-error">{{ form.errors }}</div>

        {% comment %} <li class="settings-form-item">
            <label for="{{ form.title.id_for_label }}" class="form-settings-label">Старый пароль</label> {{ form.label }}
            <input type="password" class="form-input height-40">
        </li>
        <li class="settings-form-item">
            <label for="{{ form.title.id_for_label }}" class="form-settings-label">Новый пароль</label> {{ form.label }}
            <input type="password" class="form-input height-40">
        </li>
        <li class="settings-form-item">
            <label for="{{ form.title.id_for_label }}" class="form-settings-label">Подтверждение пароля</label> {{ form.label }}
            <input type="password" class="form-input height-40">
        </li> {% endcomment %}
    </ul>
    <button type="submit" class="submit-settings-btm">Изменить пароль</button>
</form>


{% endblock %}