{% extends 'main/base.html' %}
{% load my_templatetags %}
{% load static %}

{% block title %}{{ lesson_instance.theme }}{% endblock title %}

{% block main_content %}

<input type="hidden" id="api-get-subchapter-content" data-url="{% url 'api:course_api:retrieve_subchapter' subchapter_pk %}">

<div class="page-content">
    <div class="syllabus-of-course" style="width: 20%">
        <div class="course-title">
            <h3>{{ lesson_instance|get_course_title }}</h3>
        </div>
        <div class="syllabus">
            <ul class="syllabus-list">
                {% for chapter in lesson_instance|get_chapters %}
                <li class="chapter" style="margin-left: 5px"><h4>{{ chapter.title }}</h4>
                    <ul class="chapter-detail">
                        {% for subchapter in chapter.subchapters.all %}
                            <li class="subchapter" style="margin-left: 17px">
                                <a href="{{ subchapter|get_first_lesson_url }}" class='subchapter-link'><h6>{{ subchapter.title }}</h6></a>
                            </li>
                        {% endfor %}
                        
                    </ul>

                {% endfor %}

                </li>
            </ul>
        </div>
    </div>

{% block subchapter_content %}

<div class="subchapter-content">
    <div class="lesson-switcher">
    </div>
    <div class="lesson-contents">
    </div>
</div>

{% endblock subchapter_content %}

</div>

{% endblock main_content %}

{% block script %}

<script type="text/javascript" src="{% static "/mainapp/js/script.js" %}"></script>
<script type="text/javascript" src="{% static "/courses/js/lesson.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

{% endblock script %}